@charset "utf-8";
/**
 * placeholder
 *
 * @author: Storm
 * @date: 2017/12/21
 */

.s-placeholder {
  color: #cccccc;
}

::-webkit-input-placeholder {
  color: #cccccc;
}

:-moz-placeholder {
  color: #cccccc;
}

:-ms-input-placeholder {
  color: #cccccc;
}
